@using Bethanys.Hrm.Shared;
@if (benefits == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="row">
		<div class="col-md-8">


			<table class="table table-sm">
				<thead>
					<tr>
						<th class="w-auto"></th>
						<th class="w-auto">Benefit</th>
						<th class="w-25">Start date</th>
						<th class="w-25">End date</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var benefit in benefits)
					{
							<BenefitRow @key="benefit" Benefit="@benefit" OnCheckBoxChanged="@CheckBoxChanged" 
								/>
					}


				</tbody>



			</table>
			<div class="col-md-4 mt-1">
				<button class="btn" disabled="@SaveButtonDisabled"
						@onclick="SaveClick">
					Save
				</button>
				

			</div>


			
		</div>
	</div>
}
